/* ------------------------------------------------------------------ */
/*        HOME
/* ------------------------------------------------------------------ */
* {
    outline: 0;
}

$div3: calc(100% / 3);

.home {

   height: calc( 1px + 2px );
   height: calc( var(--vh) * 10);
   height: $div3;

}