<div class="banner">

    {% if lang == '/en' %}

    <div class="banner_text">
        <p>By using this site, you agree to our updated Privacy Policy and Cookie Policy. To change your preferences or withdraw your consent, you must update your Cookie Preferences. <a href="/legal-notices-and-confidentiality-policy/"> Learn more</a><p>
    </div>
    <div class="banner_valid">Ok</div>

    {% else %}

    <div class="banner_text">
        <p>En utilisant ce site, vous acceptez notre Politique de Confidentialité mise à jour et notre Politique en matière de cookies. Pour modifier vos préférences ou retirer votre consentement, vous devez mettre à jour vos Préférences de cookies. <a href="/mentions-legales-politiques-de-confidentialite/"> En savoir plus</a><p>
    </div>
    <div class="banner_valid">Ok</div>

    {% endif %}

</div>