<div class="background_part">
    <div class="header_part">
        <div class="switch_lang"><span class="lang_fr lang_item select"><a href="/edition-2022/" class="no-barba">FR</a></span> / <span class="lang_en lang_item"><a href='/2022-edition/' class="no-barba">EN</a></span></div>
        <a href="mailto:contact@geniusloci-experience.com">Contact</a>
    </div>
    <div class="wrapper">
        <div class="logo">{% include 'logo_genius.twig'%}</div>
        <h3>UPCOMING EDITION<br/>PARIS</h3>
        <h3>from 10.15 to 10.23 2022</h3>
        <p>The upcoming edition of the Genius Loci exhibition-experience will take place in a new Parisian architectural venue which will be especially opened to the public on this occasion.</p>
        <div class="know_more">
            <h4>Reservations scheduled to open: September 2022</h4>
            <h4>Stay tuned for more info</h4>
        </div>
        {% include 'en_footer.twig' %}
    </div>
</div>