<footer class="footer">
    <div class="desk footer_desk">
        <div class="first footer_part">
            <div class="logo">{% include 'logo_genius.twig'%}</div>
            <div class="item">© Genius Loci 2022</div>
        </div>
        <div class="second footer_part">
            <a href="mailto:contact@geniusloci-experience.com" class="item" target="_blank">Contact</a>
            <a href="https://www.instagram.com/geniusloci_experience/" target="_blank" class="item" >Instagram</a>
        </div>
        <div class="third footer_part">
            <div>
                <div class="item">Press:</div>
                <a href="mailto:jehanne@davidgiroire.com" class="item grey" target="_blank">jehanne@davidgiroire.com</a>
            </div>
            <div>
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://geniusloci-experience.us14.list-manage.com/subscribe/post?u=48eba13587899a84d7ccf7f4e&amp;id=d1f5986e2e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="form">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL form_label">Newsletter</label>
                                <input type="email" value="" name="EMAIL" class="required email form_input" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_48eba13587899a84d7ccf7f4e_d1f5986e2e" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="button form_button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
        </div>
        <div class="fourth footer_part">
            <div>
                <div class="item">Graphic Design:</div>
                <a href="https://affaireasuivre.studio/" class="item grey" target="_blank">Affaire à suivre</a>
            </div>
            <div>
                <div class="item">Web developement:</div>
                <a href="https://julienprivat.com" class="item grey" target="_blank">Privat</a>
            </div>
        </div>
        <div class="fifth footer_part">
            <a href="/legal-notices-and-confidentiality-policy/" class="item mentions_foot">LEGAL NOTICES <br/>& CONFIDENTIALITY POLICY</a>
        </div>
    </div>
    <div class="footer_mobile">
        <div class="line">
            <div class="first footer_part">
                <div class="logo">{% include 'logo_genius.twig'%}</div>
                <div class="item">© Genius Loci 2022</div>
            </div>
            <div class="second footer_part">
                <div>
                    <div class="item">Press:</div>
                    <a href="mailto:jehanne@davidgiroire.com" class="item grey" target="_blank">jehanne@davidgiroire.com</a>
                </div>
            </div>
            <div class="third footer_part">
                <div>
                    <div class="item">Graphic Design:</div>
                    <a href="https://affaireasuivre.studio" class="item grey" target="_blank">Affaire à suivre</a>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="four footer_part">
                <a href="mailto:contact@geniusloci-experience.com" class="item" target="_blank">Contact</a>
                <a href="https://www.instagram.com/geniusloci_experience/" target="_blank" class="item" >Instagram</a>
            </div>
            <div class="fifth footer_part">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://geniusloci-experience.us14.list-manage.com/subscribe/post?u=48eba13587899a84d7ccf7f4e&amp;id=d1f5986e2e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="form">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL form_label">Newsletter</label>
                                <input type="email" value="" name="EMAIL" class="required email form_input" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_48eba13587899a84d7ccf7f4e_d1f5986e2e" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="button form_button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
            <div class="sixth footer_part">
                <a href="/legal-notices-and-confidentiality-policy/" class="item mentions_foot">LEGAL NOTICES <br/>& CONFIDENTIALITY POLICY</a>
            </div>
            <div class="seventh footer_part">
                <div>
                    <div class="item">Web developement:</div>
                    <a href="https://julienprivat.com" class="item grey" target="_blank">Privat</a>
                </div>
            </div>
        </div>
    </div>
</footer>