
<div class="header_part">
        <div class="cross"><a href="/en">{% include 'cross.twig' %}</a></div>
        <div class="switch_lang"><span class="lang_fr lang_item"><a href="/" class="no-barba">FR</a></span> / <span class="lang_en lang_item select"><a>EN</a></span></div>
        <a href="mailto:contact@geniusloci-experience.com" class="contact_but">Contact</a>
    </div>
<div class="content">

    <div class="logo">{% include 'logo_genius.twig'%}</div>

    <h3>LEGAL NOTICES & CONFIDENTIALITY POLICY</h3>

    <h2>I.LEGAL NOTICES</h2>

    <p>The website <a href="https://geniusloci-experience.com" target="_blank" rel="noopener">geniusloci-experience.com</a>is edited by Genius Loci, an association under French Law (1901), registered under number W751261664, residing at 11 rue Léopold Bellan, 75002 Paris.</p>

    <div class="exergue">
        <p>Governance of the Genius Loci association<br/>
        Marion Vignal, president<br/>
        Bénédicte Hurel, secretary<br/>
        Malachi O’Rourke, treasurer</p>
        <p>e-mail: <a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></p>
    </div>

    <p>The president of Genius Loci and Publication Director is Marion Vignal.</p>
    <p>The Website is hosted by Hostinger International Ltd, with a head office located at 61 Lordou Vironos st. 6023 Larnaca, the Republic of Cyprus – Intra-community VAT number 10301365E – Phone number +357 22232364.</p>
    <p>Website access and use of its content are subject to the usage stipulations provided hereinafter. The act of accessing and browsing this Website implies that the Internet user fully and unreservedly accepts the following stipulations.</p>

    <h2>II.INTELLECTUAL PROPERTY</h2>

        <h4>II.1 Ownership</h4>

    <p>Genius Loci is the owner of the Website’s domain name.</p>

    <p>The entirety of the Website, as well as its components (in particular text, structure, software, animated items, photographs, videos, illustrations, drawings, graphic representations, logos, etc.) are creative works protected by articles L.111-1 et seq. of the French Intellectual Property code. The Website and its components are the sole property of Genius Loci; the latter is the sole party authorized to exercise intellectual property and related personality rights, particularly brands, models, creative works, software, databases, interpretations and image rights, as the originator or through a formal authorization or licence.</p>

        <h4>II.2 Penalties</h4>

    <p>Use of all or part of the Website, particularly by means of downloading, reproduction, transmission, representation or circulation, for purposes other than personal and private use and with a non-commercial aim by the Internet user is strictly prohibited. The party liable for infringement of the above shall be liable to penalties stipulated in both the French Intellectual Property code with regard to copyright infringement (article L. 335-1 et seq.) and brand rights (article L. 716-1 et seq.) in particular, and the French Civil Code with regard to general legal liability (article 9, Sections 1382 et seq.).</p>

        <h4>II.3 Hypertext links</h4>

    <p>It is forbidden to create any and all hypertext links to any one of the web pages or components of the Website without prior written authorization from Genius Loci. Said authorization may be withdrawn at any moment. Any and all websites with hypertext links to the Website or any one of its components are not under the control of Genius Loci. Genius Loci formally declines any liability (particularly with regard to editorial content) concerning access to, and the contents of, such websites.</p>


    <h2>III.PERSONAL DATA</h2>

    <p>The term “personal data” applies to all personal information (particularly the user name, password, name, surname, date of birth, email and postal addresses) that Internet users may disclose to Genius Loci and its partners when entering data in the Genius Loci reservation and/or information sections of the Website.</p>
    <p>The said data, irrespective of its type, shall directly or indirectly make it possible for Genius Loci to identify and improve knowledge about Internet users and send them its newsletter and/or respond to their messages. When the Internet user discloses personal data, the said Internet user shall answer questions asked during the subscription process for the Genius Loci newsletter and thus communicate precise information, which shall not prejudice the interests or rights of third parties.</p>

        <h4>III.1 Consent</h4>

    <p>No datum of a personal nature shall be collected without the personal consent of the Internet user concerned. The optional or compulsory nature of the items to be disclosed to Genius Loci for this purpose shall be stated to Internet users beforehand. Said Internet users shall not be required under any circumstances to disclose any personal data to Genius Loci. However, in the event of refusal by the Internet user, Genius Loci shall not be in a position to send the newsletter to the Internet user concerned and/or respond to their messages. In all events, if the Internet user does not wish or no longer wishes to receive the newsletter from Genius Loci, the said Internet user may inform Genius Loci accordingly by sending an email to the following address: <a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></p>

        <h4>III.2 Identity of the party responsible for processing personal data</h4>

    <p>Genius Loci is responsible for collecting and processing personal data from the Website.</p>

        <h4>III.3 Recipient(s) of personal data</h4>

    <p>Genius Loci is the sole recipient of personal data collected from the Website. Personal data shall not be disclosed to third parties.</p>
    <p>Genius Loci shall transfer personal data to a third party only when: <br />– you have consented to sharing this information, <br />– Genius Loci needs to share this information in order to provide the services you requested, <br />– Genius Loci is requested by any judiciary or administrative authority to provide this information</p>

        <h4>III.4 Internet user rights</h4>

    <p>Each Internet user may exercise his or her right to access, rectify, supplement, update, lock, cancel and delete the personal data regarding the Internet user in question and, for legitimate reasons, to oppose its processing. To exercise the above rights, the Internet user may contact Genius Loci by email at the following address:</p>
    <div class="exergue"><p>e-mail: <a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></p></div>

        <h4>III.5 Cookies</h4>

    <p>Genius Loci may create a “cookie” (alphanumeric identifier) in the hard drive of the Internet user’s computer solely with the aim of recognizing the said user when he or she subsequently views the Website. Only the issuer of a cookie may read or modify information contained therein.</p>

    <p>The term of conservation of information concerning browsing by the Internet user, as provided by the “cookie” on the Website, shall not exceed one year. The Internet user is reminded that he or she may prevent cookies from being created on his or her hard drive by configuring their Internet browsing software accordingly (Internet Explorer, Mozilla Firefox, Opera, Safari, etc.). To this end, the Internet user is referred accordingly to the user guide of their Internet browsing software (“Help” section of the browser’s toolbar) or may obtain any such information from the publisher of the said software.</p>


    <h2>IV.LIABILITY</h2>

    <p>Genius Loci shall undertake to ensure the accuracy and updates of information published on the Website to the best of its ability. The company reserves the right to correct content at any time and without prior notification. However, Genius Loci cannot guarantee the accuracy, precision and comprehensiveness of information made available on the Website. Said information shall not constitute any guarantee or commitment by Genius Loci with regard to the Internet user. In particular, Genius Loci shall not be held liable for:</p>

    <p>– any lack of precision, inaccuracy or omission regarding the information available on the Website; 
    <br />– all and any damage arising from computerized intrusion by a third party, resulting in a modification to the information made available on the Website
    <br />– and, more generally, any and all direct or indirect damage, irrespective of the cause, origin, nature and consequences, caused as a result of access by anyone to the Website or inability to access the said Website, along with the use of the Website and/ Genius Loci shall implement means intended to ensure the security of the files generated from personal data collected from the Website. It is, however, formally stated that Genius Loci has no control over the risks related to the operation of the Internet and draws the attention of Internet users to the presence of possible risks in terms of confidentiality of data transmitted across this network.</p>


    <h2>V.AMENDMENTS TO LEGAL NOTICES</h2>

    <p>Genius Loci informs Internet users viewing the Website that these legal notices may be amended at any time. Such amendments shall be published online and shall be deemed accepted without reserve by any and all Internet users accessing the Website after the said amendments have been published online.</p>


    <h2>VI.DISPUTES</h2>

    <p>These legal notices have been drawn up in accordance with French law and, in particular, with the provisions of Law no. 2004-575 dated 21 June 2004 “for confidence in the digital economy” and Law no. 78-17 dated 6 January 1978 on “Freedom of Information and Technology”. French courts shall exercise jurisdiction over all and any disputes arising from the use of the Website, subject to contrary provisions arising from Regulation no. 44/2001 dated 20 December 2000 concerning court jurisdiction and the application of rulings in civil and commercial matters (Brussels I). If the Internet user has any questions about the use of the Website and/or these legal notices, or any request that he or she wishes to address to Genius Loci, they are invited to send a message to the following address: </p>
    <div class="exergue"><p>e-mail: <a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></p></div>

    <h2>VII. MEMBERSHIP AND FEES</h2>

    <p>Membership dues as well as fees from the friends of the Genius Loci association are managed through online services provided by Hello Asso and King Baudoin Foundation United States.</p>
    <p>Bank transactions and collection of data ensuing from the use of such services are subject to the applicable terms and conditions and the confidentiality provisions of such websites. We invite users take note:</p>
    <div class="exergue">
        <table>
            <tbody>
                <tr>
                    <th>HELLO ASSO: </th>
                    <th><a href="https://www.helloasso.com/mentions-legales/" target="_blank" rel="noopener">https://www.helloasso.com/mentions-legales/<a></th>
                </tr>
                <tr>
                    <th>KING BEAUDOIN FDT: </th>
                    <th><a href="https://kbfus.org/privacy-policy/" target="_blank" rel="noopener">https://kbfus.org/privacy-policy/</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    
    {% include 'en_footer.twig' %}
</div>