<div class="background_part">
    <div class="header_part">
        <div class="switch_lang"><span class="lang_fr lang_item select"><a href="/nous-soutenir/" class="no-barba">FR</a></span> / <span class="lang_en lang_item"><a href='/support-us/' class="no-barba">EN</a></span></div>
        <a href="mailto:contact@geniusloci-experience.com">Contact</a>
    </div>
    <div class="wrapper">
        <div class="logo">{% include 'logo_genius.twig'%}</div>
        <h3>SUPPORT US</h3>
        <div class="section first">
            <p>Join an international community of enthusiasts, connoisseurs and professionals of contemporary art, design and architecture. Genius Loci is a Paris-based not-for profit association whose mission is to promote the legacy of architectural masterpieces together with contemporary creation.</p>
            <div class="exergue">
                <h4>A WORD FROM THE PRESIDENT</h4>
                <p>«The Genius Loci association grew from our aspiration to create and share unique experiences around architecture, be they artistic or interpersonal. Our mission consists in reviving and revealing singular venues, to set a new vibration around them, to perpetuate their spirit, to tell the story of their creator and their owners, to make their singularity resonate through artistic conversations involving various creative means of expression that extoll contemporary creation with a view to establishing a fertile dialogue between the past, present and future» <br/><br/>
                – MARION VIGNAL</p>
            </div>
        </div>
        <div class="section">
            <h2>BECOME AN OFFICIAL PATRON OF GENIUS&nbsp;LOCI</h2>
            <p>If you are a corporate entity and wish to support Genius Loci as an official partner.</p>
            <div class="exergue">
                <h4>CONTACT US: <a href="mailto:CONTACT@GENIUSLOCI-EXPERIENCE.COM">CONTACT@GENIUSLOCI-EXPERIENCE.COM</a></h4>
                <p class="small">Corporate donations are open to tax rebates of up to 60% under sections 238bis of the Code Général des Impôts under the threshold of 5 per 1000 of turnover. Entities must be established in France for tax purposes.</p>
            </div>
        </div>
        <div class="section">
            <h2>JOIN THE CIRCLE OF THE GENIUS LOCI FRIENDS</h2>
            <div class="base_sout ami">BECOME A FRIEND OF GENIUS LOCI</div>
            <p>Support the actions and artistic program of Genius Loci. Meet with artists and creative minds of the contemporary scene and get access to exclusive experiences.</p>
            <p class="green">YOUR BENEFITS<br/><br/>
            • Invitation to openings and collectors’ preview of the Genius Loci exhibitions.<br/>
            • Private visit to the annual Genius Loci exhibition presented by the curating team.<br/>
            • Meet with artists from the Genius Loci programs, opportunities to visit their studios.<br/>
            • Genius Loci exhibition catalogue.<br/>
            • Several times a year, invitation to exclusive Genius Loci experiences coinciding. with major get-togethers of the contemporary art, design and architecture calendar (Venice art or architecture Biennale, Milan Design week , Art Basel…).</p>
            <p class="green">PRIVATE VISITS IN SMALL&nbsp;GROUPS&nbsp;TO<br/><br/>
            • Building sites for landmark restoration projects in the presence of their architect.<br/>
            • Villas and private palaces in the presence of their proprietors.<br/>
            • Emerging artist studios in their presence.</p>
            <div class="exergue">
                <p class="green_title">Annual dues - solo&nbsp;€&nbsp;1&nbsp;000&nbsp;/&nbsp;duo&nbsp;€&nbsp;1&nbsp;500<p>
                <p>The duo option affords the right to subscribe: <br/>
                - For two persons, each having access to benefits linked to membership. <br/>
                - For one person, and the privilege of coming with one guest of their choice to each of the events. </p>
                <p>Membership opens rights to tax* rebates up to:<br/>
                - 66% of the amount donated for private persons<br/>
                (€ 340 solo / € 510 duo after rebate)<br/>
                - 60% for corporate entities<br/>
                ( €400 solo / € 600 duo after rebate)</p>
                <p class="small">*Under sections 200 and 238bis of the Code Général des Impôts under the threshold of 20 % of net taxable income and 5 per 1000 of turnover for corporations. Persons must be established in France for tax purposes.</p>
            </div>
            <a href="https://www.helloasso.com/associations/genius-loci/formulaires/2" target="_blank"><div class="button">DONATE</div></a>
        </div>
        <div class="section">
            <div class="base_sout grand">BECOME A GRAND DONOR OF&nbsp;GENIUS&nbsp;LOCI</div>
            <p>As a supporter and ambassador of Genius Loci, you will uphold the actions and artistic program of the association. You will enjoy a front seat on the creative art scene and gain access to exclusive experiences around architecture, contemporary art and design.</p>
            <p class="green">YOUR BENEFITS<br/><br/>
            • A preview visit of the Genius Loci exhibition with the curator prior to the official vernissage.  <br/>
            • Exclusive Invitation to a performance especially commissioned for the Genius Loci exhibition. <br/>
            • Invitation to the vernissage and to the collectors’ preview of the Genius Loci exhibitions. <br/>
            • Private and bespoke visit with artists of the Genius Loci program, visits of their studios. <br/>
            • Genius Loci exhibition catalogue.<br/>
            • Several times a year, invitation to exclusive Genius Loci experiences coinciding with major get-togethers of the contemporary art, design and architecture calendar (Venice art or architecture Biennale, Milan Design week , Art Basel…).</p>
            <p class="green">PERSONAL BESPOKE VISITS TO<br/><br/>
            • Building sites for landmark restoration projects in the presence of their architect. <br/>
            • Villas and private palaces in the presence of their proprietors.<br/>
            • Emerging artist studios in their presence.</p>
            <div class="exergue">
                <p class="green_title">Annual dues -  solo&nbsp;€&nbsp;3&nbsp;500&nbsp;/&nbsp;duo&nbsp;€&nbsp;5&nbsp;000<p>
                <p>The duo option affords the right to subscribe: <br/>
                - For two persons, each having access to benefits linked to membership. <br/>
	            - For one person, and the privilege of coming with one guest of their choice to each of the events.</p>
                <p>Membership opens rights to tax* rebates up to:<br/>
                - 66% of the amount donated for private persons<br/>
                ( € 1 190 single / € 1 700 twin after rebate)<br/>
                - 60% for corporate entities<br/>
                ( €1 400 single / € 2 000 twin after rebate)</p>
                <p class="small">*Under sections 200 and 238bis of the Code Général des Impôts under the threshold of 20 % of net taxable income and 5 per 1000 of turnover for corporations. Persons must be established in France for tax purposes.</p>
            </div>
            <a href="https://www.helloasso.com/associations/genius-loci/formulaires/3" target="_blank"><div class="button">SUBSCRIBE</div></a>
        </div>
        <div class="section">
            <h2>IF YOU ARE A PRIVATE PERSON RESIDING IN THE UNITED STATES</h2>
            <p>U.S.-based donors can support Genius Loci’s activities in a tax-efficient way through a contribution to the American Friends of Genius Loci at the King Baudouin Foundation United States (KBFUS).</p>
            <h4 class="more_info">MORE INFORMATIONS UPON REQUEST</h4>
        </div>

        <div class="know_more">
            <h4>CONTACT US: <a href="mailto:supportus@GENIUSLOCI-EXPERIENCE.COM">contact@GENIUSLOCI-EXPERIENCE.COM</a></h4>
            <p>Association Genius Loci<br/>
            11 rue Léopold Bellan<br/>
            75002 Paris<br/><br/>
            Board of the Genius Loci association<br/>
            Marion Vignal, president<br/>
            Bénédicte Hurel, secretary<br/>
            Malachi O’Rourke, treasurer<br/><br/>
            Genius Loci is an association under the 1901 act,<br/>
            Registered under number W751261664</p>
        </div>
    {% include 'en_footer.twig' %}
    </div>
</div>