<div class="background_part">
    <div class="header_part">
        <div class="switch_lang"><span class="lang_fr lang_item select"><a>FR</a></span> / <span class="lang_en lang_item"><a href='/en/' class="no-barba">EN</a></span></div>
        <a href="mailto:contact@geniusloci-experience.com">Contact</a>
    </div>
    <div class="wrapper">
        <div class="logo">{% include 'logo_genius.twig'%}</div>
        <h3>Un programme dédié à la mise en lumière du patrimoine architectural en conversation avec la création contemporaine</h3>

        <h2>Notre Mission</h2>
        <p>L’association a pour vocation la valorisation du patrimoine architectural et de la création contemporaine. Elle met en valeur des trésors cachés ou méconnus de l’architecture et donne exceptionnellement accès à des lieux privés habituellement fermés au public. Elle favorise leur découverte et leur connaissance. Ces lieux sont mis en regard avec la création contemporaine afin de révéler leur résonance artistique et redonner vie à l’esprit qui les anime. </p>
        <p>À travers son programme d’exposition dans des lieux rares appartenant à l’histoire de l’architecture, l’association Genius Loci rend hommage à des créateurs phares dans une approche humaine et intimiste de leur œuvre et de leur parcours.</p>
        <p>S’affranchissant des frontières entre les arts et établissant des ponts entre passé et présent, patrimoine et modernité, chaque exposition rassemble des artistes de différentes disciplines artistiques - des arts visuels jusqu’à l’olfaction, la musique et les arts numériques.</p>
        <p>Par ses expositions-expériences, l’association Genius Loci cherche à faire vivre l’architecture dans une approche sensorielle et émotionnelle, de manière à révéler l’identité profonde d’une œuvre.</p>
        <p>Les visites des expositions sont ouvertes à tous, sur réservation et s’adressent au plus grand nombre. </p>
        <div class="wrapper_image"><img class="image_genius" src="{{site.theme.uri}}/assets/image/Geniusloci-presentation.jpg"></div>
        <legend>Installation Sky Mirror par Mathias Kiss, commande spéciale pour Genius Loci © JÉRÉMIE LÉON</legend>
        <h2>EXPOSITIONS-EXPÉRIENCES</h2>
        <p>Genius Loci est un programme inédit d’expositions immersives faisant dialoguer l’architecture, le design et l’art contemporain. Chaque édition ouvre les portes d’un lieu historique à la dimension artistique exceptionnelle et révèle son aura au travers d’œuvres et de commandes spéciales inspirées par le génie du lieu et la personnalité de son créateur.</p>
        <p>Pensé comme une déambulation émotionnelle, Genius Loci invite le public dans un ici et maintenant qui convoque tous les sens. Une expérience intimiste, à la fois visuelle, sonore et olfactive qui prend sa source dans l’architecture et sa pensée vivante. Genius Loci est un projet international et itinérant conçu par Marion Vignal porté par l’association éponyme.</p>
        <div class="know_more">
            <h4>En savoir plus:</h4>
            <h6>EDITION 2022</br>
            <a href="/edition-2022">PARIS, DU 15 AU 23 OCTOBRE 2022</a></h6>
            <h6>EDITION 2021</br>
            <a href="/edition-2021">GENIUS LOCI - L’ANGE VOLANT, GIO PONTI<br/>
            GARCHES, DU 16 AU 24 OCTOBRE 2021</a></h6>
        </div>

        <h2>Nous soutenir</h2>
        <p>Rejoignez une communauté internationale de passionnés, connaisseurs et professionnels de l’art contemporain, du design et de l’architecture. Genius Loci est une association loi 1901 basée à Paris qui a pour vocation la valorisation du patrimoine architectural et de la création contemporaine.</p>
        <div class="know_more">
            <h4>En savoir plus</h4>
            <h6><a href="/nous-soutenir">DEVENEZ AMI DE L’ASSOCIATION</a></h6>
        </div>
        <div class="equipe">
            <h2>L'Équipe</h2>
            <p class="strong">Marion Vignal, curatrice </p>
            <p>Marion Vignal est commissaire d’exposition et autrice. Experte en design et en art contemporain, elle accompagne et soutient la jeune création internationale par le biais d’expositions, de commissions et de projets spéciaux. Diplômée en littérature et en histoire de l’art, elle est l’autrice de plusieurs ouvrages sur l’histoire du design (<span class="italique">Femmes Designers, un siècle de créations</span>), l’architecture d’intérieur (<span class="italique">Charles Zana, Intérieurs</span>) et l’art olfactif (<span class="italique">Chanel, Editions de Parfum Frédéric Malle : Les Vingt premières Années</span>). Elle est présidente d’ida M., studio de conseil éditorial et artistique qu’elle a fondé à Paris en 2015 et présidente de l’association Genius Loci, créée en 2021. Elle a signé le commissariat de l’exposition éponyme à L’Ange Volant de Gio Ponti, à Garches en octobre 2021, rassemblant plus de vingt artistes invités à dialoguer avec l’esprit du lieu.</p>
            <div class="equipe_image">
                <img src="{{site.theme.uri}}/assets/image/marion_vignal.jpg">
                <legend>© Mathieu Salvaing</legend>
            </div>
            <p class="strong">Bénédicte Hurel, directrice de production </p>
            <p>Formée à la gestion des industries du luxe et à l’Ecole du Louvre, Bénédicte Hurel est consultante dans l’univers de la mode et de l’art contemporain. Elle a mené plusieurs missions de développement pour des maisons de création à New York et à Paris. Elle conseille aujourd’hui des clients privés comme des entreprises ou des personnalités publiques. Collaboratrice régulière de l’agence de conseil ida M. depuis 2017, elle a co-fondé l’association Genius Loci créée en 2021. Elle dirige la production des expositions-expériences du programme Genius Loci. De 2008 à 2014, elle a été membre du conseil d’administration de l’association Make-A-Wish® France.</p>
            <p class="strong">Bianca D’Ippolito, chef de projet</p>
            <p>Architecte de formation, Bianca D’Ippolito est consultante dans le domaine de l’art, du design et de l’architecture. Elle vit entre Paris et Milan et consacre sa carrière à la promotion des artistes contemporains, ainsi qu’au développement de leurs œuvres dans le cadre architectural. Elle conseille des particuliers, ainsi que des architectes et a livré plusieurs projets en France, Italie, Royaume-Uni et États-Unis. </p>
        </div>
        <div class="know_more">
            <h4>Nous Contacter: <br/><a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></h4>
        </div>
    {% include 'fr_footer.twig' %}
    </div>
</div>