
<div class="header_part">
        <div class="cross"><a href="/">{% include 'cross.twig' %}</a></div>
        <div class="switch_lang"><span class="lang_fr lang_item select"><a>FR</a></span> / <span class="lang_en lang_item"><a href="/en" class="no-barba">EN</a></span></div>
        <a href="mailto:contact@geniusloci-experience.com" class="contact_but">Contact</a>
    </div>
<div class="content">

    <div class="logo">{% include 'logo_genius.twig'%}</div>

    <h3>MENTIONS LÉGALES & POLITIQUES DE CONFIDENTIALITÉ</h3>

    <h2>I.MENTIONS LÉGALES</h2>

    <p>Le présent site <a href="https://geniusloci-experience.com" target="_blank" rel="noopener">geniusloci-experience.com</a> est édité par Genius Loci, association loi 1901, immatriculée sous le numéro W751261664, domiciliée 11 rue Léopold Bellan 75002 Paris.</p>

    <div class="exergue">
        <p>Bureau de l’association Genius Loci<br/>
        Marion Vignal, présidente<br/>
        Bénédicte Hurel, secrétaire<br/>
        Malachi O’Rourke, trésorier</p>
        <p>e-mail: <a href="mailto:contact@geniusloci-experience.com" target="_blank" rel="noopener">contact@geniusloci-experience.com</a></p>
    </div>

    <p>La présidente de Genius Loci et directrice de la publication est Madame Marion Vignal.</p>
    <p>L’hébergement du site est assuré par Hostinger International Ltd dont le siège social est situé 61 Lordou Vironos Street, 6023 Larnaca, Cyprus – Numéro de TVA Intracommunautaire 10301365E – Numéro de téléphone +357 22232364.</p>
    <p>L’accès au site ainsi que l’utilisation de son contenu s’effectuent dans le cadre des mentions d’utilisation décrites ci-après. Le fait d’accéder et de naviguer sur le Site constitue de la part de l’internaute une acceptation sans réserve des précisions suivantes.</p>

    <h2>II.PROPRIÉTE INTELLECTUELLE</h2>

        <h4>II.1 Titularité</h4>

    <p>Genius Loci est titulaire du nom de domaine du site.</p>

    <p>Le site dans son ensemble, ainsi que les éléments qui le composent (notamment, textes, arborescences, logiciels, animations, photographies, vidéos, illustrations, schémas, représentations graphiques, logos, etc.) constituent des œuvres de l’esprit protégées par les articles L.111-1 et suivants du Code de la propriété intellectuelle. Le site ainsi que les éléments qui le composent sont la propriété exclusive de Genius Loci., seule habilitée à utiliser les droits de propriété intellectuelle et droits de la personnalité y afférents.</p>

        <h4>II.1 Liens hypertextes</h4>

    <p>La création de tous liens hypertextes renvoyant à l’une quelconque des pages web ou éléments composant le site est interdite, sauf autorisation écrite et préalable de Genius Loci, laquelle autorisation pouvant être révoquée à tout moment. Tous les sites ayant un lien hypertexte dirigeant vers le site ou l’un quelconque des éléments qui le composent ne sont pas sous le contrôle de Genius Loci et celle-ci décline par conséquent toute responsabilité (notamment éditoriale) concernant le contenu et l’accès à ces sites.</p>

        <h4>II.2 Sanctions</h4>

    <p>L’usage de tout ou partie du site, notamment par téléchargement, reproduction, transmission, représentation ou diffusion à d’autres fins que pour l’usage personnel et privé dans un but non commercial de l’internaute est strictement interdit. La violation des droits de Genius Loci. expose son auteur aux sanctions prévues tant par le Code de la propriété intellectuelle au titre, notamment, de la contrefaçon de droits d’auteur (article L. 335-1 et suivants), de droit des marques (article L. 716-1 et suivants) que par le Code civil en matière de responsabilité civile (article 9, articles 1382 et suivants).</p>


    <h2>III.DONNÉES À CARACTÈRE PERSONNEL</h2>

    <p>Bienvenue sur le site de l’association <a href="https://geniusloci-experience.com" target="_blank" rel="noopener">geniusloci-experience.com</a> dont la mission est la valorisation du patrimoine architectural et la création contemporaine.</p>

    <p>Cette rubrique est consacrée à notre Politique de Protection de la Vie Privée. Elle vous permet d’en savoir plus sur l’origine et l’usage des informations de navigation, traitées à l’occasion de votre consultation de notre site et sur vos droits. Cette Politique est donc importante pour vous, qui souhaitez avoir une expérience positive et confiante de nos Services et pour Nous, qui souhaitons répondre de manière précise et complète à vos questions sur votre consultation de notre site et tenir compte de vos souhaits.</p>

        <h4>III.1 Nature des données à caractère personnel</h4>

    <p>Est entendu par «&nbsp;données à caractère personnel&nbsp;» toutes informations personnelles (notamment : identifiant, mot de passe, nom, prénom, date de naissance, adresses e-mail et postales) que les internautes sont susceptibles de fournir à Genius Loci et à ses partenaires dans le cadre de tout message adressé sur le Site via les rubriques «&nbsp;réservation&nbsp;» et «&nbsp;information&nbsp;». Ces données, quelle qu’en soit la nature, peuvent permettre – directement ou indirectement – à Genius Loci d’identifier et de mieux connaître les internautes et de leur adresser sa newsletter et/ou de répondre à leurs messages. Lorsque l’internaute fournit des données à caractère personnel, il s’engage à répondre aux questions qui lui sont posées ainsi qu’à communiquer dans ce cadre à Genius Loci des informations complètes, exactes, à jour et ne portant pas préjudice aux intérêts ou aux droits de tiers.</p>

        <h4>III.2 Consentement</h4>

    <p>Aucune donnée à caractère personnel n’est collectée sans le consentement des internautes. La nature facultative ou obligatoire des mentions à communiquer à Genius Loci dans le cadre de la collecte effectuée sur le site sera préalablement indiquée aux internautes. Ces derniers ne sont aucunement contraints de transmettre à Genius Loci des données à caractère personnel.</p>

        <h4>III.3 Identité du responsable du traitement de données à caractère personnel</h4>

    <p>L’association Genius Loci est responsable de la collecte et du traitement des données à caractère personnel effectués sur le site.</p>

        <h4>III.4 Destinataire(s) des données À caractère personnel</h4>

    <p>Genius Loci est la seule destinataire des données à caractère personnel collectées sur le site.</p>

    <p>Genius Loci ne transmet les données personnelles à un tiers que lorsque&nbsp;:<br/>
    – vous nous avez donné votre accord préalable pour le partage de ces informations,<br/>
    – Genius Loci doit partager ces informations avec des tiers pour vous fournir le service que vous demandez,<br/>
    – Genius Loci est sommée par une autorité judiciaire ou toute autre autorité administrative de lui communiquer les informations.</p>

        <h4>III.5 Droits de l’internaute</h4>

    <p>Chaque internaute dispose d’un droit d’accès, d’un droit de rectifier, de compléter, de mettre à jour, de verrouiller ou d’effacer les données à caractère personnel le concernant et, pour des motifs légitimes, de s’opposer à leur traitement. Pour exercer ces droits, l’internaute peut contacter Genius Loci par courrier électronique à l’adresse suivante : </p>

    <div class="exergue"><p>e-mail: <a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></p></div>

        <h4>III.6 Cookies</h4>

    <p>Lors de la consultation du site, des informations relatives à la navigation du terminal de l’internaute (ordinateur, tablette, smartphone, etc.), sont susceptibles d’être enregistrées dans des fichiers « cookies&nbsp;» installés sur le terminal de l’internaute.</p>

    <p>Seul l’émetteur d’un cookie est susceptible de lire ou de modifier des informations qui y sont contenues.</p>

    <p>Lorsque l’internaute se connecte sur le site, Genius Loci peut être amenée à installer divers cookies dans le terminal de l’internaute lui permettant de reconnaître le navigateur pendant la durée de validité du cookie concerné. Les cookies émis par Genius Loci sont utilisés aux fins décrites ci-dessous, sous réserve des choix de l’internaute, qui résultent des paramètres du logiciel de navigation utilisé lors de la visite du site.</p>

    <p>Les cookies émis par le site permettent&nbsp;:<br/>
    – de mettre en œuvre des mesures de sécurité, par exemple lorsqu’il est demandé de se connecter à nouveau à un contenu ou à un service après un certain laps de temps&nbsp;; L’émission et l’utilisation de cookies par des tiers, sont soumises aux politiques de protection de la vie privée de ces tiers. Nous vous informons de l’objet des cookies dont nous avons connaissance et des moyens dont vous disposez pour effectuer des choix à l’égard de ces cookies. Le cas échéant, les cookies émis par ces tiers peuvent leur permettre, pendant la durée de validité de ces cookies&nbsp;:<br/>
    – de comptabiliser le nombre de visites sur le site, et de ce fait et d’établir des statistiques&nbsp;;</p>


    <h2>IV.VOS CHOIX CONCERNANT LES COOKIES</h2>

    <p>Plusieurs possibilités vous sont offertes pour gérer les cookies. Tous les changements de paramètres que vous pouvez entreprendre sera susceptible de modifier votre navigation sur Internet et vos conditions d’accès à certains services nécessitant l’utilisation de cookies.</p>

    <p>Vous pouvez faire le choix à tout moment d’exprimer et de modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous. Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. Vous pouvez également configurer votre logiciel de navigation de manière à ce que l’acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré dans votre terminal. Pour plus d’informations, consultez la rubrique « Comment exercer vos choix, selon le navigateur que vous utilisez&nbsp;?&nbsp;»</p>

        <h4>IV.1 Accord sur les Cookies</h4>

    <p>L’enregistrement d’un cookie dans un terminal est essentiellement subordonné à la volonté de l’utilisateur du Terminal, que celui-ci peut exprimer et modifier à tout moment et gratuitement à travers les choix qui lui sont offerts par son logiciel de navigation.</p>

    <p>Si vous avez accepté dans votre logiciel de navigation l’enregistrement de cookies dans votre Terminal, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié de votre Terminal. Ils y seront lisibles uniquement par leur émetteur.</p>

        <h4>IV.2 Refus des Cookies</h4>

    <p>Si vous refusez l’enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous ne pourrez plus bénéficier d’un certain nombre de fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certains espaces de notre site. Tel serait le cas si vous tentiez d’accéder à nos contenus ou services qui nécessitent de vous identifier. Tel serait également le cas lorsque nous – ou nos prestataires – ne pourrions pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d’affichage ou le pays depuis lequel votre terminal semble connecté à Internet.</p>

    <p>Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.</p>

        <h4>IV.3 Comment exercer vos choix, selon le navigateur que vous utilisez&nbsp;?</h4>

    <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>

    <div class="exergue">
        <table>
            <tbody>
                <tr>
                    <th>Internet Explorer™: </th>
                    <th><a href="http://windows.microsoft.com/" target="_blank" rel="noopener" >http://windows.microsoft.com/<a></th>
                </tr>
                <tr>
                    <th>Safari™: </th>
                    <th><a href="http://docs.info.apple.com/" target="_blank" rel="noopener">http://docs.info.apple.com/</a></th>
                </tr>
                <tr>
                    <th>Chrome™: </th>
                    <th><a href="http://support.google.com/" target="_blank" rel="noopener">http://support.google.com/</a></th>
                </tr>
                <tr>
                    <th>Firefox™: </th>
                    <th><a href="http://support.mozilla.org/" target="_blank" rel="noopener">http://support.mozilla.org/</a></th>
                </tr>
                <tr>
                    <th>Opera™: </th>
                    <th><a href="http://help.opera.com/" target="_blank" rel="noopener">http://help.opera.com/</a></th>
                </tr>
            </tbody>
        </table>
    </div>


    <h2>V.RESPONSABILITÉ</h2>

    <p>Genius Loci s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des informations diffusées sur son site internet, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le contenu. Toutefois, Genius Loci ne peut garantir l’exactitude, la précision et l’exhaustivité des informations mises à disposition sur le site lesquelles informations ne constituent ni une garantie ni un engagement de la part de Genius Loci à l’égard de l’internaute.</p>

    <p>En particulier, Genius Loci ne saurait être tenue pour responsable :<br/>
    – de toute imprécision, inexactitude ou omission portant sur des informations disponibles sur le site©;<br/>
    – de tous dommages résultant d’une intrusion informatique d’un tiers ayant entraîné une modification des informations mises à disposition sur le site.<br/>
    – et plus généralement, de tous dommages, directs ou indirects, qu’elles qu’en soient les causes, origines, natures et conséquences, provoqués en raison de l’accès de quiconque au site ou de l’impossibilité d’y accéder, de même que de l’utilisation du site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier.</p>

    <p>Genius Loci met en œuvre des moyens destinés à assurer la sécurité des fichiers constitués à partir des données à caractère personnel collectées sur le site. Il est toutefois rappelé que Genius Loci ne maîtrise pas les risques liés au fonctionnement d’Internet et attire l’attention des internautes sur l’existence d’éventuels risques en termes de confidentialité des données transitant via ce réseau.</p>


    <h2>VI.MODIFICATIONS DES MENTIONS</h2>

    <p>Genius Loci informe les internautes consultant le site que les présentes mentions peuvent être modifiées à tout moment. Ces modifications sont publiées par leur mise en ligne et sont réputées acceptées sans réserve par tout internaute qui accède au site postérieurement à leur mise en ligne.</p>


    <h2>VII.LITIGES</h2>

    <p>Les présentes mentions sont établies en conformité avec le droit français et notamment des dispositions de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique et de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Les juridictions françaises sont territorialement compétentes pour connaître de tout litige afférent à l’utilisation du site, sauf dispositions contraires découlant du Règlement n°44/2001 du 20 décembre 2000 sur la compétence judiciaire, la reconnaissance et l’exécution des décisions en matière civile et commerciale (Bruxelles I).</p>

    <p>Pour toute question que l’internaute pourrait se poser sur l’utilisation du site et/ou sur les présentes mentions, pour toute demande qu’il pourrait souhaiter adresser à Genius Loci, il peut lui adresser un courrier électronique à l’adresse suivante :</p>


    <div class="exergue"><p>e-mail: <a href="mailto:contact@geniusloci-experience.com">contact@geniusloci-experience.com</a></p></div>


    <h2>VIII.COTISATIONS ET ADHÉSIONS</h2>

    <p>Les cotisations des membres ainsi que les adhésions des amis de l’association Genius Loci sont gérées via les sites Hello Asso et King Beaudoin Foundation United States.</p>

    <p>Les transactions bancaires et collectes de données effectuées dans ce cadre relèvent des mentions légales et de la politique de confidentialité de ces sites. Nous vous invitions à en prendre connaissance&nbsp;:</p>

<div class="exergue">
        <table>
            <tbody>
                <tr>
                    <th>HELLO ASSO: </th>
                    <th><a href="https://www.helloasso.com/mentions-legales/" target="_blank" rel="noopener">https://www.helloasso.com/mentions-legales/<a></th>
                </tr>
                <tr>
                    <th>KING BEAUDOIN FDT: </th>
                    <th><a href="https://kbfus.org/privacy-policy/" target="_blank" rel="noopener">https://kbfus.org/privacy-policy/</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    
    {% include 'fr_footer.twig' %}
</div>