<div class="background_part">
    <div class="header_part">
        <div class="switch_lang"><span class="lang_fr lang_item select"><a href="/nous-soutenir/" class="no-barba">FR</a></span> / <span class="lang_en lang_item"><a href='/support-us/' class="no-barba">EN</a></span></div>
        <a href="mailto:contact@geniusloci-experience.com">Contact</a>
    </div>
    <div class="wrapper">
        <div class="logo">{% include 'logo_genius.twig'%}</div>
        <h3>NOUS SOUTENIR</h3>
        <div class="section first">
            <p>Rejoignez une communauté internationale de passionnés, connaisseurs et professionnels de l’art contemporain, de l’architecture et du design.<br/>
            Genius Loci est une association loi 1901 basée à Paris qui a pour vocation la valorisation du patrimoine architectural et de la création contemporaine.</p>
            <div class="exergue">
                <h4>LE MOT DE LA PRÉSIDENTE</h4>
                <p>«L'association Genius Loci est née de notre envie de créer et de partager des expériences uniques, à la fois artistiques et humaines autour de l’architecture. Notre mission consiste à réactiver et révéler des lieux rares, à leur donner une nouvelle vibration, à perpétuer leur esprit, à raconter l’histoire de leur créateur et de leurs propriétaires, à faire résonner leur singularité à travers des conversations artistiques qui entremêlent les disciplines et met en valeur la création contemporaine, dans le but d’un dialogue fertile entre passé, présent et futur» <br/><br/>
                – MARION VIGNAL</p>
            </div>
        </div>
        <div class="section">
            <h2>DEVENEZ MÉCÈNE OFFICIEL DE GENIUS LOCI </h2>
            <p>Vous êtes une entreprise et souhaitez soutenir Genius Loci en tant que partenaire officiel.</p>
            <div class="exergue">
                <h4>NOUS CONTACTER: <a href="mailto:CONTACT@GENIUSLOCI-EXPERIENCE.COM">CONTACT@GENIUSLOCI-EXPERIENCE.COM</a></h4>
                <p class="small">Les dons des entreprises donnent lieu à réduction d’impôt à hauteur de 60% selon les articles 238bis du Code Général des Impôts dans la limite de 5 pour 1000 du chiffre d’affaires. La résidence fiscale doit être française.</p>
            </div>
        </div>
        <div class="section">
            <h2>REJOIGNEZ LE CERCLE DES AMIS DE GENIUS LOCI</h2>
            <div class="base_sout ami">DEVENEZ AMI DE GENIUS LOCI</div>
            <p>Soutenez les actions et la programmation artistique de Genius Loci. Rencontrez des acteurs de la scène artistique actuelle et accédez à des expériences exclusives.</p>
            <p class="green">VOS AVANTAGES<br/><br/>
            • Invitation au vernissage et à la collectors preview des expositions Genius Loci.<br/>
            • Visite privée de l’exposition annuelle Genius Loci avec l’équipe curatoriale.<br/>
            • Rencontre avec des artistes des programmes Genius Loci, participation à des visites d’atelier.<br/>
            • Catalogue de l’exposition Genius Loci.<br/>
            • Plusieurs fois par an, invitation à des expériences Genius Loci exclusives à l’occasion des grands rendez-vous de l’art contemporain, de l’architecture et du design (Biennale d’art ou d’architecture de Venise, Design week de Milan, Art Basel…).</p>
            <p class="green">VISITES PRIVÉES EN PETITS&nbsp;GROUPES&nbsp;<br/><br/>
            • Chantiers de lieux remarquables en restauration en présence de leur architecte. <br/>
            • Villas ou palais privés en présence de leur propriétaire. <br/>
            • Studios d’artistes confirmés ou émergents en leur présence. </p>
            <div class="exergue">
                <p class="green_title">ADHÉSION annuelle - solo&nbsp;1&nbsp;000&nbsp;€&nbsp;/&nbsp;duo&nbsp;1&nbsp;500&nbsp;€<p>
                <p>L’option duo permet d’adhérer:<br/>
                - À deux et de chacun bénéficier des avantages liés à l’adhésion.<br/>
                - Seul et de venir avec l’invité de votre choix lors de chaque événement.</p>
                <p>Cotisation donnant lieu à réduction d’impôt* à hauteur de:<br/>
                - 66% du montant pour les particuliers <br/>
                (soit 340 € solo / 510 € duo après réduction)<br/>
                - 60% pour les entreprises<br/>
                (soit 400 € solo / 600 € duo après réduction)</p>
                <p class="small">*Selon les articles 200 et 238bis du Code Général des Impôts dans la limite de 20 % du revenu net imposable et de 5 pour 1000 du chiffre d’affaires pour les entreprises. La résidence fiscale doit être française.</p>
            </div>
            <a href="https://www.helloasso.com/associations/genius-loci/formulaires/2" target="_blank"><div class="button">Adhérer</div></a>
        </div>
        <div class="section">
            <div class="base_sout grand">DEVENEZ GRAND DONATEUR DE&nbsp;GENIUS&nbsp;LOCI</div>
            <p>Soutien et ambassadeur de Genius Loci, vous accompagnez les actions et la programmation artistique de l’association. Vous vous tenez au plus près de la scène artistique actuelle et vous accédez à des expériences exclusives autour de l’architecture, de l’art contemporain et du design.</p>
            <p class="green">VOS AVANTAGES<br/><br/>
            • Visite preview de l’exposition Genius Loci avant le vernissage officiel, avec la commissaire.<br/>
            • Invitation exclusive à la performance issue d’une commande spéciale, à l’occasion de l’exposition Genius Loci. <br/>
            • Invitation au vernissage et à la collectors preview des expositions Genius Loci. <br/>
            • Rencontre privée et sur-mesure avec des artistes des programmes Genius Loci, organisation de visites d’atelier. <br/>
            • Catalogue de l’exposition Genius Loci.<br/>
            • Plusieurs fois par an, invitation à des expériences Genius Loci exclusives à l’occasion des grands rendez-vous de l’art contemporain, de l’architecture et du design (Biennale d’art ou d’architecture de Venise, Design week de Milan, Art Basel…).</p>
            <p class="green">VISITES PRIVÉES INDIVIDUELLES ET SUR-MESURE<br/><br/>
            • Chantiers de lieux remarquables en restauration en présence de leur architecte.<br/>
            • Villas ou palais privés en présence de leur propriétaire.<br/>
            • Studios d’artistes confirmés ou émergents en leur présence.</p>
            <div class="exergue">
                <p class="green_title">ADHÉSION annuelle - solo&nbsp;3&nbsp;500&nbsp;€&nbsp;/&nbsp;duo&nbsp;5&nbsp;000&nbsp;€<p>
                <p>L’option duo permet d’adhérer:<br/>
                - À deux et de chacun bénéficier des avantages liés à l’adhésion.<br/>
	            - Seul et de venir avec l’invité de votre choix lors de chaque événement.</p>
                <p>Cotisation donnant lieu à réduction d’impôt* à hauteur de:<br/>
                - 66% du montant pour les particuliers<br/>
                (soit 1&nbsp;190 € solo / 1&nbsp;700 € duo après réduction)<br/>
                - 60% pour les entreprises<br/>
                (soit 1&nbsp;400 € solo / 2&nbsp;000 € duo après réduction)</p>
                <p class="small">*Selon les articles 200 et 238bis du Code Général des Impôts dans la limite de 20 % du revenu net imposable et de 5 pour 1000 du chiffre d’affaires pour les entreprises. La résidence fiscale doit être française.</p>
            </div>
            <a href="https://www.helloasso.com/associations/genius-loci/formulaires/3" target="_blank"><div class="button">Adhérer</div></a>
        </div>
        <div class="section">
            <h2>VOUS ÊTES UN PARTICULIER RÉSIDANT AUX ÉTATS-UNIS</h2>
            <p>U.S.-based donors can support Genius Loci’s activities in a tax-efficient way through a contribution to the American Friends of Genius Loci at the King Baudouin Foundation United States (KBFUS).</p>
            {# <a href=""><div class="button">Donate</div></a> #}
                <h4 class="more_info">PLUS D'INFORMATIONS SUR DEMANDE</h4>
        </div>

        <div class="know_more">
            <h4>NOUS CONTACTER: <a href="mailto:CONTACT@GENIUSLOCI-EXPERIENCE.COM">CONTACT@GENIUSLOCI-EXPERIENCE.COM</a></h4>
            <p>Association Genius Loci<br/>
            11 rue Léopold Bellan<br/>
            75002 Paris<br/><br/>
            Bureau de l’association Genius Loci<br/>
            Marion Vignal, présidente<br/>
            Bénédicte Hurel, secrétaire<br/>
            Malachi O’Rourke, trésorier<br/><br/>
            Genius Loci est une association loi 1901,<br/> 
            immatriculée sous le numéro W751261664</p>
        </div>
    {% include 'fr_footer.twig' %}
    </div>
</div>