{% extends 'base.twig' %}
{% block content %}

<section class="page error_page" data-namespace="error" dir="ltr" data-part="error">
    <div class="error">
        <div class="numero">Cette page n'existez pas... Retour sur la <a href="/">home page</a></div>
    </div>
</section>

{% endblock %}